@import "bootstrap/dist/css/bootstrap.min.css";

body {
    padding-inline: 150px;
    background-image: url('/imgs/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;

}

.desplegable {
    background-color: #800020;
    color: #ffffff;
    border: none;
}

.divProductosyCategorias {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

    h1 {
        text-align: left;
        padding-left: 65px;
        background-color: #FAEBD7;
        border-radius: 25px;
        align-content: center;
    }

    .divButtons {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }

    .buttons {
        padding: 5px;
        width: 125px;
        margin-inline-end: 5px;
        border-radius: 10px;
        color: #800020;
        cursor: pointer;
        font-weight: bold;
    }

    .buttons:hover {
        background-color: #800020;
        color: #ffffff;
    }

    .buttons.selected {
        background-color: #800020;
        color: white;
        border: 2px solid #550015;
    }

    .dropdown-item.active {
        background-color: #800020;
        color: white;
    }

    .mensaje-categoria {
        text-align: center;
        background-color: #FAEBD7;
        border-radius: 25px;

        p {
            text-align: center;
            background-color: #FAEBD7;
            justify-content: center;
            align-items: center;
            align-content: center;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 100%;
            height: 100%;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    text-decoration: none;

    button {
        margin-inline: 5px;
        padding-right: 12px;
        width: 125px;
    }

    p {
        margin-bottom: 5px;
    }

    .privacidad {
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;

        a {
            text-decoration: none;
            color: #ffffff;
            margin-right: 10px;
        }

        a:hover {
            color: #000000;
        }

        .login:hover {
            color: #800020;
            font-size: 1.2rem;
        }
    }
}

@media (max-width: 1024px) {
    body {
        padding: 10px;
        margin-left: -30px;
        margin-right: -30px;
        padding-top: 0;
    }

    .logo {
        width: 110%;
        max-width: 600px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .desplegable {
        margin-left: 10px;
        margin-right: 5px;
    }

    .divProductosyCategorias {
        padding: 10px;
        margin-bottom: 100px;
        margin-left: -15px;
        margin-right: -20px;

        h1 {
            padding-left: 0px;
        }

        .divProductos {
            padding-right: 45px;
        }
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #343a40;
        color: #ffffff;
        text-align: center;
        line-height: 1;
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
    }

    /* Tu botón select */
    .select {
        background-color: #800020;
        color: #ffffff;
        width: 100%;
        margin-top: -5px;
    }

    .select:focus,
    .select:active,
    .show>.select {
        background-color: #ffffff;
        color: #800020;
        font-weight: bold;
    }

    .select:hover {
        background-color: #800020;
        color: #ffffff;
        font-weight: bold;
    }

    .dropdown-item {
        background-color: #ffffff;
        color: #800020;
        font-weight: bold;
    }

    .dropdown-item:hover {
        background-color: #800020;
        color: #ffffff;
        font-weight: bold;
    }


}