.divPanelImagenes {
    background-color: #ffffff;
    margin-bottom: 100px;
    margin-inline: 75px;
    align-items: center;
    justify-content: center;

    .volverAtras {
        margin-left: -30px;
    }

    .formImagenes {
        padding-top: 20px;

        .inputImagen {
            margin-inline: 10px;
        }
    }

}

.img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.actualizado {
    margin: 25px;
    text-align: center;
    justify-content: center;

    .butactua {
        width: 200px;
    }
}

textarea {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -10px;
}


@media (max-width: 1024px) {
    .divPanelImagenes {
        margin: 0;
        margin-bottom: 100px;
    }

    .formulario {
        margin-left: -20px;

        h4 {
            margin-left: 10px;
        }

        p {
            margin-left: 10px;
        }

        button {
            width: 200px;
            margin-top: 20px;
        }
    }

    textarea {
        margin-top: 15px;
        margin-bottom: -10px;
    }
}