.divPanelImagenes {
    background-color: #ffffff;
    margin-bottom: 100px;
    margin-inline: 75px;
    align-items: center;
    justify-content: center;

    .volverAtras {
        margin-left: -30px;
    }

    .formImagenes {
        padding-top: 20px;

        .inputImagen {
            margin-inline: 10px;
        }
    }

}

.img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.actualizado {
    margin: 25px;
    text-align: center;
    justify-content: center;

    .butactua {
        width: 200px;
    }
}


@media (max-width: 1024px) {
    .divPanelImagenes {
        margin: 0;
        margin-bottom: 100px;
    }

    .butactua {
        width: 200px;
    }

    .formulario {
        margin-left: -20px;

        h3 {
            margin-left: 10px;
        }

        button {
            margin-top: 10px;
            margin-left: 10px;
        }
    }
}