@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nerko+One&display=swap");
body {
  padding-inline: 150px;
  background-image: url("/imgs/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.desplegable {
  background-color: #800020;
  color: #ffffff;
  border: none;
}

.divProductosyCategorias {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.divProductosyCategorias h1 {
  text-align: left;
  padding-left: 65px;
  background-color: #FAEBD7;
  border-radius: 25px;
  align-content: center;
}
.divProductosyCategorias .divButtons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
.divProductosyCategorias .select {
  background-color: #800020;
  color: #ffffff;
  width: 100%;
}
.divProductosyCategorias .buttons {
  padding: 5px;
  width: 125px;
  margin-inline-end: 5px;
  border-radius: 10px;
  color: #800020;
  cursor: pointer;
  font-weight: bold;
}
.divProductosyCategorias .buttons:hover {
  background-color: #800020;
  color: #ffffff;
}
.divProductosyCategorias .mensaje-categoria {
  text-align: center;
  background-color: #FAEBD7;
  border-radius: 25px;
}
.divProductosyCategorias .mensaje-categoria p {
  text-align: center;
  background-color: #FAEBD7;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  color: #ffffff;
  text-align: center;
  line-height: 1;
  padding-left: 0;
  padding-right: 0;
  padding-top: 5px;
  text-decoration: none;
}
footer button {
  margin-inline: 5px;
  padding-right: 12px;
  width: 125px;
}
footer p {
  margin-bottom: 5px;
}
footer .privacidad {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}
footer .privacidad a {
  text-decoration: none;
  color: #ffffff;
  margin-right: 10px;
}
footer .privacidad a:hover {
  color: #000000;
}
footer .privacidad .login:hover {
  color: #800020;
  font-size: 1.2rem;
}

@media (min-width: 480px) and (max-width: 1024px) {
  body {
    padding: 10px;
    padding-top: 0;
  }
  .logo {
    width: 110%;
    max-width: 600px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .desplegable {
    margin-left: 10px;
    margin-right: 5px;
  }
  .divProductosyCategorias {
    padding: 10px;
    margin-bottom: 100px;
  }
  .divProductosyCategorias h1 {
    padding-left: 0px;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
  }
}
.divProductos {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 15px;
}

.productosUL {
  list-style-type: none;
  width: 700px;
  background-image: url("/imgs/fondo_crema.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: 15px;
  border-radius: 25px;
  padding-bottom: 10px;
}

.productosLI {
  gap: 10px;
  border-bottom: 0.5px dashed #000000;
  padding-right: 15px;
}

.producto-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  width: 100%;
  padding-bottom: 5px;
}

.producto-info > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.producto-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.precio-racion {
  display: flex;
  align-items: center;
  gap: 5px;
}

.producto-info .precio-racion {
  text-align: right;
}

.racion {
  width: 50px;
  height: auto;
}

.alergeno-icono {
  width: 30px;
  height: auto;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .divProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 20px;
  }
  .productosUL {
    padding-top: 15px;
    padding-bottom: 5px;
    background-image: url("/imgs/fondo_crema.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    gap: 5px;
    width: 425px;
    border-radius: 25px;
    margin: 0px;
  }
  .productosLI {
    width: 100%;
    padding-inline: 0;
  }
  .producto-item {
    display: flex;
    flex-direction: column;
  }
  .producto-info {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding-right: 15px;
    gap: 5px;
  }
  .producto-info .negrita {
    flex: 1;
    font-weight: bold;
  }
  .producto-info .precio-racion {
    text-align: right;
  }
}
header {
  justify-content: center;
  align-items: center;
}

.logo {
  width: 120%;
  max-width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0px;
}

.carousel {
  height: 500px;
  margin-bottom: 20px;
  justify-content: center;
}
.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: inherit;
}

.containerImg {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.conjuntoImagenes {
  margin-top: 25px;
  margin: 10px;
  height: auto;
  object-fit: contain;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.modal-container.active {
  display: flex;
}

.modal-content {
  position: relative;
  max-width: 35%;
  max-height: auto;
}

.modal-content img {
  display: block;
  margin: auto;
  width: 120%;
  height: 120%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: -75px;
  padding: 10px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);
  border: none;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}

.navBar ul {
  border-top: 2px solid #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  list-style-type: none;
  justify-content: center;
  background-color: #ffffff;
  align-items: center;
  height: 35px;
  padding-inline: 0;
  margin: 0;
}
.navBar li {
  text-align: center;
}
.navBar a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #800020;
  font-weight: bold;
  padding: 5px 0;
}
.navBar li:hover {
  background-color: #800020;
}
.navBar li:hover a {
  color: #ffffff;
}

.container {
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
  padding-top: 15px;
}
.container h3 {
  text-align: left;
  padding-left: 25px;
}
.container .carousel-item {
  transition: transform 0.5s ease-in-out;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .carousel-inner {
    display: block;
  }
  .modal-content {
    position: relative;
    max-width: 90%;
    max-height: auto;
  }
  .modal-content img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.35);
    border: none;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
  }
}
.nosotros {
  background-color: #ffffff;
  border-radius: 5px;
  border: 2px solid #800020;
  margin-bottom: 100px;
  margin-inline: 75px;
}
.nosotros .redes {
  margin-top: 10px;
}
.nosotros .direccion {
  margin-top: 10px;
}
.nosotros .telefono {
  margin-top: 10px;
}
.nosotros a {
  color: #800020;
  font-weight: bold;
  text-decoration: none;
}
.nosotros button {
  margin-inline: 5px;
  padding-right: 12px;
}
.nosotros img {
  width: 50px;
  height: auto;
}
.nosotros .mapa iframe {
  width: 100%;
  height: 450px;
  border: 0;
  margin: 15px;
}

.tablealergenos ul {
  list-style: none;
  padding: 0;
}
.tablealergenos li {
  text-align: center;
}
.tablealergenos .redes {
  text-align: center;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .nosotros {
    margin-inline: 0px;
  }
  .nosotros {
    text-align: center;
  }
  .nosotros .redes {
    text-align: center;
  }
  .nosotros .direccion {
    text-align: center;
  }
  .nosotros .telefono {
    text-align: center;
  }
}
.divPrivacidad {
  border: 1px solid #000000;
  color: #000000;
  background: #ffffff;
  margin-bottom: 100px;
  margin-inline: 75px;
  padding-left: 25px;
  padding-right: 25px;
}
.divPrivacidad h1 {
  text-align: center;
  padding-bottom: 15px;
}
.divPrivacidad h3 {
  text-align: left;
}
.divPrivacidad p {
  text-indent: 25px;
}
.divPrivacidad .footer {
  text-align: center;
  padding-top: 50px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .divPrivacidad {
    margin-inline: 0;
    text-align: left;
  }
  .divPrivacidad h1 {
    text-align: center;
    padding-bottom: 15px;
  }
}
body {
  font-family: "Lora", serif;
  color: #333333;
  top: 0px !important;
}

.goog-te-banner-frame.skiptranslate,
.goog-logo-link,
.goog-te-gadget {
  display: none !important;
}

h1 {
  font-family: "Lora", bold;
  font-size: 2rem;
  color: #800020;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: #800020;
}

h3 {
  font-size: 1.2rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-family: "Lora", serif;
  font-size: 1.2rem;
  color: #343a40;
  font-weight: bold;
}

.barraInicio {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}

p {
  font-family: "Lora", serif;
  font-size: 1rem;
  color: #343a40;
}

.mensaje-categoria {
  font-size: 1rem;
  font-family: "Nerko One", cursive;
  color: #343a40;
}

.mensaje-categoria p {
  font-size: 1rem;
  font-family: "Nerko One", cursive;
  color: #343a40;
}

.producto-info {
  font-size: 1rem;
  color: #343a40;
  font-family: "Lora", serif;
}

button:hover {
  background-color: #800020;
  color: #ffffff;
  font-family: "Lora", serif;
}

.administracion {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #FAEBD7;
  margin-inline: 75px;
}

.panel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #ffffff;
  padding: 20px;
  margin-inline: 75px;
  margin-bottom: 100px;
}
.panel .panelBotones {
  text-align: center;
}

.entrada {
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 15px;
  line-height: 1.5rem;
  width: 450px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.entrada p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.entrada p input {
  margin-left: 1rem;
  flex: 1;
  max-width: 60%;
}

.rowButton {
  text-align: center;
}

.botonesAdmin {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-inline: 0px;
}
.botonesAdmin button {
  margin: 5px;
  width: 170px;
  height: auto;
}

table {
  table-layout: fixed;
  width: 100%;
}
table th,
table td {
  width: 100px;
  text-align: center;
}
table th.id,
table td.id {
  width: 10px;
  font-weight: bold;
}
table th.tdButton,
table td.tdButton {
  width: 50px;
  font-weight: bold;
}
table button.nuevo {
  width: 150px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .administracion {
    margin-inline: 0px;
    padding: 15px;
  }
  .panel {
    margin-inline: 0px;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .entrada {
    margin: 0px;
  }
  table {
    table-layout: fixed;
    width: 100%;
    height: auto;
  }
  table th,
  table td {
    width: 100px;
  }
  table th.id,
  table td.id {
    width: 10px;
    font-weight: bold;
  }
  table th.tdButton,
  table td.tdButton {
    width: 100px;
    font-weight: bold;
  }
}
.divEditar {
  background-color: #ffffff;
  margin-bottom: 100px;
  margin-inline: 75px;
  align-items: center;
  justify-content: center;
}
.divEditar .volverAtras {
  margin-left: -30px;
}
.divEditar .divDatos {
  padding-top: 20px;
}
.divEditar .divActualizar input {
  margin-left: 10px;
}
.divEditar .divActualizar button {
  margin: 15px;
  margin-left: 0;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .divEditar {
    margin: 0;
    margin-bottom: 100px;
  }
  .divEditar .divActualizar {
    margin-top: 15px;
    border-top: 2px solid #000000;
    padding-top: 15px;
  }
  .divEditar .divActualizar input {
    margin-left: 0;
  }
}
.divPanelImagenes {
  background-color: #ffffff;
  margin-bottom: 100px;
  margin-inline: 75px;
  align-items: center;
  justify-content: center;
}
.divPanelImagenes .volverAtras {
  margin-left: -30px;
}
.divPanelImagenes .formImagenes {
  padding-top: 20px;
}
.divPanelImagenes .formImagenes .inputImagen {
  margin-inline: 10px;
}

@media (min-width: 480px) and (max-width: 1024px) {
  .divPanelImagenes {
    margin: 0;
    margin-bottom: 100px;
  }
  .formulario {
    margin-left: -20px;
  }
  .formulario h3 {
    margin-left: 10px;
  }
  .formulario button {
    margin-top: 10px;
    margin-left: 10px;
  }
}
.divNuevo {
  background-color: #ffffff;
  margin-bottom: 100px;
  margin-inline: 75px;
  align-items: center;
  justify-content: center;
  padding-bottom: 25px;
}
.divNuevo .volverAtras {
  margin-left: -30px;
}
.divNuevo .divDatosNuevos {
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
.divNuevo .divDatosNuevos input,
.divNuevo .divDatosNuevos select {
  margin-left: 5px;
  align-self: flex-end;
  width: 175px;
}

@media (min-width: 480px) and (max-width: 1686px) {
  .divNuevo {
    margin-inline: 0px;
    margin-bottom: 100px;
  }
  .divNuevo .divDatosNuevos {
    margin: 0 auto;
    text-align: right;
    display: flex;
    flex-direction: column;
  }
}
.headerPDF .logo {
  margin-top: 0;
  margin-left: 85px;
  margin-right: 100px;
}

.h1 {
  color: black;
}

.tablaPDF {
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin-left: 2px;
}
.tablaPDF th,
.tablaPDF td {
  padding: 15px;
}
.tablaPDF tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.tablaPDF tr:nth-child(even) {
  background-color: #ffffff;
}
.tablaPDF th {
  background-color: #800020;
  color: #ffffff;
}
.tablaPDF .tablaPDF .celdaID {
  width: 10px !important;
  padding: 15px;
}
.tablaPDF img {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}
.tablaPDF .imagen_racion {
  width: 50px;
  height: 50px;
}/*# sourceMappingURL=style.css.map */