.divEditar {
    background-color: white;
    margin-bottom: 100px;
    margin-inline: 75px;
    align-items: center;
    justify-content: center;

    .volverAtras {
        margin-left: -30px;
    }

    .divDatos {
        padding-top: 20px;
    }

    .divActualizar {

        input {
            margin-left: 10px;
        }

        button {
            margin: 15px;
            margin-left: 0;
        }
    }
}

@media (min-width: 480px) and (max-width: 1024px) {
    .divEditar {
        margin: 0;
        margin-bottom: 100px;

        .divActualizar {
            margin-top: 15px;
            border-top: 2px solid black;
            padding-top: 15px;

            input {
                margin-left: 0;
            }
        }
    }
}